
.title{
    text-align:center;
  color:#002547;
  
}
div{
    color:#002547;
    text-align: center;
    background-color:#cce2ff;
}
body {background:#aac6ee; }

p {color: #002547 ;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  }

.one {color:#002547; }

a {
  color: #005aad;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
h1 {
  color: #002547;
  display: flex;
  justify-content:center;
  font-family: 'Raleway', sans-serif;
}
.sectionthreenotitle {
  margin: 3px;
  display: flex;
  justify-content:space-between;
 
}

.photoone {
  width: 300px;
    border: 4px solid #1c68b0;
  padding: 5px;
  justify-content:center;
  
}

.phototwo {
  width: 300px;
    border: 4px solid #1c68b0;
  padding: 5px;
  justify-content:center;
}

.photothree {
  width: 300px;
    border: 4px solid #1c68b0;
  padding: 5px;
  display: block;
  justify-content:center;
}

.sadface {
  width: 300px;
    border: 4px solid #1c68b0;
  padding: 5px;
   display:none;
  
}








